In [1]:
import csv

In [2]:
a=['sid','sname','city','contact']

In [3]:
records=[[1,'raj','bharuch',9632591232],
         [2,'ved','bardoli',9785785429],
         [3,'om','surat',8485963218],
         [4,'ved','baroda',9863521478],
         [5,'trith','valod',9930452161]]
p=[]

In [4]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:jay
enter student city:surat
enter student contact number:8965321478
enter student id:7
enter student name:vikas
enter student city:bardoli
enter student contact number:7896541239
enter student id:8
enter student name:jugal
enter student city:valod
enter student contact number:9563214785
enter student id:9
enter student name:denil
enter student city:mandvi
enter student contact number:7894563259
enter student id:10
enter student name:hiren
enter student city:valod
enter student contact number:9632145879

In [5]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(a)
    file.writerows(records)
    file.writerows(p)

In [6]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'raj', 'bharuch', '9632591232']
['2', 'ved', 'bardoli', '9785785429']
['3', 'om', 'surat', '8485963218']
['4', 'ved', 'baroda', '9863521478']
['5', 'trith', 'valod', '9930452161']
['6', 'jay', 'surat', '8965321478']
['7', 'vikas', 'bardoli', '7896541239']
['8', 'jugal', 'valod', '9563214785']
['9', 'denil', 'mandvi', '7894563259']
['10', 'hiren', 'valod', '9632145879']